.userinfo {
  width: 100%;
  background-color: #f5f5f5;
  color: #000;
  overflow: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  .profile {
    width: 1150px;
    height: 500px;
    background-color: #ffff;

    border: 1px solid #d2d4eb;
    display: flex;
    .sidebar {
      width: 230px;
      display: flex;
      flex-direction: column;
      border-right: 1px solid #d2d4eb;
      padding-top: 20px;
      gap: 15px;
      .ant-menu {
        border-right: none;
        font-weight: 550;
        width: 100%;
        font-size: 15px;
        background: #ffff;

        .ant-menu-item {
          border-radius: 0px;
          margin: 4px 0;
          padding: 10px 15px;
          width: 100%;

          &:hover {
            background-color: #c4c6dd;
            color: #fff !important;
          }
        }

        .ant-menu-item-selected {
          background-color: #9294aa !important; // màu bạn chọn
          color: #fff !important;
          font-weight: 600;
        }
      }
      .avatar {
        display: flex;
        justify-content: center;
        img {
          width: 120px;
          height: 120px;

          border-radius: 60px;
          object-fit: cover;
        }
      }
      .name {
        display: flex;
        justify-content: center;
        font-weight: 600;
      }
    }
    .info {
      width: 920px;
      display: flex;
      flex-direction: column;

      .info-title {
        height: 95px;

        border-bottom: 1px solid #d2d4eb;
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: center;
      }
      .info-content {
        width: 600px;
        height: 600px;
        // border: 1px solid #d2d4eb;
        margin-left: 160px;
      }
    }
  }
}
