li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.course {
  width: 100%;
  background-color: #f5f5f5;

  // height: 100vh;
  overflow: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .tab {
    position: relative;
    border-radius: 10px;
    background-color: #ffff;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding-bottom: 60px;
    width: 1280px;
    .square-outlined {
      color: #000;
      position: absolute;
      bottom: 10px;
      right: 60px;
      display: flex;
      flex-direction: row;
      gap: 30px;
    }
  }
  .course-search {
    padding-top: 40px;
    position: relative;
    .btnSearch {
      width: 600px;
      position: absolute;
      top: 120px;
      right: 300px;
    }
  }
  .list-course {
    width: 1150px;
    margin-top: 40px;
    display: flex;
    gap: 57px;
    .filter {
      width: 270px;
      background-color: #ffff;
      color: #000;
      height: 700px;
      display: flex;
      flex-direction: column;
      border-radius: 20px;
      .btn-reset {
        border-radius: 15px;
        background-color: #fff;
        border: 2px solid transparent;
        padding: 8px 20px;
        cursor: pointer;
        transition: all 0.3s ease;
      }

      .btn-reset:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transform: translateY(-2px); /* nổi lên */
      }

      /* khi click */
      .btn-reset:active {
        transform: translateY(0); /* ấn xuống */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      }
      .child-filter {
        margin-left: 18px;
        margin-top: 20px;
        border-top: 1px solid #e4dfdf;
        width: 232px;
        color: #484444;
        .filter-name {
          font-weight: 600;
          color: #000;
          display: block;
          margin-bottom: 10px;
          margin-top: 10px;
        }
      }
      .category {
        border-top: 1px solid #ffff;
        margin-top: 10px;

        li {
          margin-left: 10px;
          padding: 10px;
          cursor: pointer;
        }
        li:hover {
          transition: all 0.3s ease;
          box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
        }
        .ctg-active {
          transition: all 0.3s ease;
          box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.25);
        }
      }
      .discount {
      }
      .price {

      }
    }
    .courses {
      width: 880px;
      background-color: #f5f5f5;
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      padding-bottom: 10px;
    }
    .pagination {
      padding-top: 10px;
      background-color: #f5f5f5;
    }
  }
  .top-course {
    width: 100%;
    background-color: #edf5fe;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
