.paragraph {
    // position: absolute;
    // bottom: 5vh;
    // left: 50%;
    // transform: translateX(-50%);
    color: hsl(0, 0%, 90%);
    // font-size: 20px;
    // opacity: 0.7;
    z-index: 300;
    // height: 2000px;
    height: auto;
    width: 100%;
    // width: calc(100% - 100px);
    // background-color: #fff;
    background-color: #f6efef;
    // clip-path: ellipse(100% 50% at 50% 50%);
    clip-path: ellipse(100% 100% at 50% 100%);

    margin-top: 30px;
    padding: 20px;

    .paragraph-content {
        padding: 20px;
        line-height: 1.5;

        .our-success {
            h1 {
                padding: 20px 0px;
                margin: 0;
                text-align: center;
                //   color: #000;
                color: #181818;
                font-weight: 700;
                font-size: 3rem;
            }

            p {
                margin: 0;
                text-align: center;
                color: #2e2e2e;
                font-weight: 400;
                font-size: 1.2rem;
                padding: 0 300px;
            }

            .success-list {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 30px;
                // margin-top: 20px;

                .success-item {
                    width: 250px;
                    height: 200px;
                    // background-color: #fff;
                    border-radius: 10px;
                    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    // padding: 20px;

                    opacity: 0;
                    transform: translateX(-50px);
                    transition: all 0.6s ease-out;

                    &.show {
                        opacity: 1;
                        transform: translateX(0);
                    }

                    h2 {
                        margin-bottom: 0px;
                        font-size: 1.5rem;
                        font-size: 80px;
                        background: linear-gradient(45deg, #1772B5, #f06595);
                        // background: linear-gradient(45deg, #1772B5, #47B8BC);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-weight: 400;

                    }

                    p {
                        text-align: center;
                        color: #181818;
                        font-size: 40px;
                        font-weight: 500;
                        padding: 0;
                        width: 100%;
                    }
                }
            }
        }

        .strong-points {
            color: #181818;
            margin-top: 170px;

            .strong-points-header {
                display: flex;
                justify-content: center;
                font-size: 1.5rem;
                font-weight: 700;

                .strong-points-header-1 {
                    color: #2F327D;
                    margin-right: 10px;
                    margin-bottom: 0px;

                }

                .strong-points-header-2 {
                    color: #00CBB8;
                    margin-bottom: 0px;

                }

            }

            .strong-points-content {
                display: flex;
                justify-content: center;
                text-align: center;
                font-size: 1.2rem;
                font-weight: 400;

            }

            .strong-points-list {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 40px;
                margin-top: 100px;
                opacity: 0;
                transform: scale(0.8);
                transition: transform 1s ease-out, opacity 0.6s ease-out;

                .strong-points-item {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    // justify-content: center;
                    align-items: center;
                    height: 300px;
                    width: 350px;
                    background-color: #fff;
                    border-radius: 10px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                    // // animation
                    // opacity: 0;
                    // transform: scale(0.8);
                    // transition: all 0.6s ease-out;

                    // &.show {
                    //     opacity: 1;
                    //     animation: zoomInOut 0.8s ease-out forwards;
                    // }

                    img {
                        position: absolute;
                        top: -70px;
                        // background-color: #333;
                        width: 160px;
                        height: 160px;
                    }

                    h2 {
                        display: flex;
                        margin-top: 100px;
                        text-align: center;
                        height: 60px;
                        align-items: center;
                        margin-bottom: 0px;
                    }

                    p {
                        text-align: center;

                    }
                }


            }

            .strong-points-list.zoom-in {
                opacity: 1;
                transform: scale(1);
            }
        }
    }

}

@keyframes zoomInOut {
    0% {
        transform: scale(0.2);
    }

    60% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}