.reading-list {
    margin-bottom: 60px;
  
    .category-card {
      border-radius: 12px;
      overflow: hidden;
      text-align: center;
      margin-bottom: 16px;
  
      .category-image {
        width: 100%;
        height: 200px;  // 👈 fix chiều cao chung
        border-radius: 12px;
        object-fit: cover; // giúp ảnh cắt và giữ tỉ lệ
      }
    }
  }
  