.blog-page {
    padding: 40px;
  
    .featured-blog {
      margin-bottom: 60px;
  
      .btn-wrapper {
        margin-top: 24px;
      }
  
      .featured-image {
        width: 100%;
        border-radius: 12px;
        object-fit: cover;
      }
    }
  
    .related-blog {
      background: #f0f7ff;
      padding: 40px;
      padding-bottom: 24px;
      border-radius: 12px;
  
      .related-header {
        margin-bottom: 24px;
      }
    }
    .pagination {
      display: flex;
      justify-content: center;   
      padding: 20px 0;           
      background: transparent;   
    }
    
    .ant-pagination {
      padding: 10px 20px;
      border-radius: 8px;
      background: #fff;          // nền trắng nổi trên background
      box-shadow: 0 2px 8px rgba(0,0,0,0.1); // đổ bóng nhẹ
    }
  }
  
  /* Optional: responsive tweaks */
  @media (max-width: 768px) {
    .blog-page {
      padding: 20px;
  
      .featured-blog {
        margin-bottom: 40px;
      }
  
      .reading-list {
        margin-bottom: 40px;
      }
  
      .related-blog {
        padding: 20px;
      }
    }
  }
  